<a href="https://colab.research.google.com/github/jangjinhong/python-/blob/main/%EC%A4%91%EA%B8%8931~40.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Q. 32

str = input()

print(len(str.split(' ')))

안녕하세요. 저는 제주대학교 컴퓨터공학전공 혜림입니다.
5

In [ ]:
str = input()

print(len(str.strip().split(' ')))

안녕하세요. 저는 제주대학교 컴퓨터공학전공 혜림입니다.
5

In [ ]:
str = "안녕하세요. 저는 사람입니다."

print(list(str.strip()))

['안', '녕', '하', '세', '요', '.', ' ', '저', '는', ' ', '사', '람', '입', '니', '다', '.']

In [ ]:
# Q.33

nums = input()

print(nums[::-1])

2 4 6 7 8
8 7 6 4 2

In [ ]:
nums = list(map(int, input().split()))

for i in range(len(nums)-1, -1, -1):
  print(nums[i], end=' ')

2 4 6 7 8
8 7 6 4 2

In [ ]:
#Q.34

str = list(map(int, input().split()))

if str != sorted(str) :
  print("NO")
else :
  print("YES")

176 156 155 165 166 169
NO

In [ ]:
str = list(map(int, input().split()))

str2 = [int (i) for i in str]

if str != sorted(str2) :
  print("NO")
else :
  print("YES")

176 156 155 165 166 169
NO

In [ ]:
num = 4
sum = 1
for i in range(num, 1, -1) :
  print(i, " * ", i-1)
  sum = sum * i
  print(sum)

print(sum)  # 4*3*2*1 = 24

4  *  3
4
3  *  2
12
2  *  1
24
24

In [ ]:
# Q.35

def one(n):
    def two(v):
      re = v ** n
      return re
    return two

a = one(2)
b = one(3)
c = one(4)
print(a(10))
print(b(10))
print(c(10))

<function one.<locals>.two at 0x787a1dacb910>
100
1000
10000

In [5]:
# Q.36

n = int(input())

for i in range(1, 10) :
  print(n*i, end=' ')

2
2 4 6 8 10 12 14 16 18

In [15]:
# Q.37
name = input().split()
name_dict = {}

for n in name :
  name_dict[n] = name.count(n)

print(f'{max(name_dict, key=name_dict.get)}(이)가 총 {name_dict[max(name_dict, key=name_dict.get)]}표로 반장이 되었습니다.')

원범 원범 혜원 혜원 혜원 혜원 유진 유진
혜원(이)가 총 4표로 반장이 되었습니다.

In [36]:
# Q.38

data = list(map(int, input().split()))
cnt = 3

if len(set(data)) <= 3 :
  cnt = len(data)
else :
  break_data = sorted(list(set(data)), reverse=True)[3] #4등까지
  data_sorted = sorted(list(set(data)), reverse=True)
  for i in data_sorted :  # 4등 나올 때까지만 반복
    if break_data == i :
      break
    else :
      cnt += 1

print(cnt)

1 1 1 1 2 2 3

7

In [ ]:
# Q.39
# q -> e, b -> n

str = input()