<a href="https://colab.research.google.com/github/jangjinhong/python-/blob/main/%EC%B4%88%EA%B8%89_1~20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Q1
nums = [100, 200, 300, 400, 500]

del nums[3]
del nums[3]

print(nums)

[100, 200, 300]

In [ ]:
nums = [100, 200, 300, 400, 500]

nums.pop()
nums.pop()

print(nums)

[100, 200, 300]

In [ ]:
# Q2

l= [200, 100, 300]
l.insert(2, 10000)


print(l)

[200, 100, 10000, 300]

In [ ]:
# Q3

l = [100, 200, 300]
print(type(l))

# 출력값: <class 'list'>

<class 'list'>

In [ ]:
# Q4

a = 'p'
print(type(a))

#python에는 char 자료형이 별도로 존재하지 X

<class 'str'>

In [ ]:
# Q5

a = 10
b = 2
for i in range(1, 5, 2):
    a += i

print(a + b)

# 1 ~ 5-1까지 2칸씩 -> 1, 3
# 출력값: 16

16

In [ ]:
_age = 30
print(_age)

30

In [ ]:
d = {'height':180,'weight':78,'weight':84,'temparture':36,'eyesight':1}
print(d['weight'])

84

In [ ]:
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, sep='/', end=' ')
print(hour, minute, second, sep=':')

2019/04/26 11:34:27

In [ ]:
# Q10
# n = int(input())
n = 5
for i in range(1, n+1):
	print( ' '*(n-i) + ('*' * (2*i-1)) )

    *
   ***
  *****
 *******
*********

In [ ]:
# Q11

s = 0

for i in range(1, 101):
  s += i

print(s)

5050

In [ ]:
# Q12

class Wizard:
  def __init__(self, health, mana, armor):
    self.health = health
    self.mana = mana
    self.armor = armor

  def attack(self):
    print('파이어볼')


jik = Wizard(health = 545, mana = 210, armor = 10)
print(jik.health, jik.mana, jik.armor)
jik.attack()

545 210 10
파이어볼

In [ ]:
# Q13

planet = ['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']


print(planet[(int)(input()) -1])

1
수성

In [ ]:
# Q14

n = int(input())

if n % 3 == 0 :
  print("짝")
else :
  print("홀")

4
홀

In [ ]:
# Q15
name = input()

print("안녕하세요. 저는 %s입니다." %name)
print("안녕하세요. 저는 {}입니다." .format(name))

3
안녕하세요. 저는 3입니다.
안녕하세요. 저는 3입니다.

In [6]:
# Q16

str = input()
print(str[::-1])

거꾸로
로꾸거

In [25]:
str = input()

str_list = list(str)
str_list.reverse()

print(''.join(str_list))

거꾸로
로꾸거

In [27]:
# Q17

h = int(input())

if(h >= 150) :
  print("YES")
else :
  print("NO")

150
YES

In [40]:
# Q18

score = input().split()
sum = 0

for i in range(len(score)):
  sum += (int)(score[i])

print(round(sum/len(score)))

20 30 40
30

In [65]:
score = list(map(int, input().split()))
#del sum

print(int(sum(score)/3))

20 30 40
30

In [69]:
# Q19

n = list(map(int, input().split()))

print(n[0]**n[1])

2 3
8

In [80]:
# Q20

n = list(map(int, input().split()))

print(n[0]//n[1], n[0]%n[1])

10 2
5 0